trigger:
  branches:
    include:
      - main
  paths:
    include:
      - APP/*
      - api/*
      - azure-pipelines.yml
      - "*.tf"

pool:
  name: 'Default'

variables:
  serviceConnection: 'Fabrikam-Manual-SP'
  storageRG: 'Terraform-Management-RG'
  storageAccount: 'fabtfstate2026'
  container: 'tfstate'
  tfstateKey: 'prod.terraform.tfstate'

stages:
- stage: Terraform_Plan
  displayName: 'Plan Stage'
  jobs:
  - job: Plan
    steps:
    - task: TerraformTaskV4@4
      displayName: 'Terraform Init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: '$(serviceConnection)'
        backendAzureRmResourceGroupName: '$(storageRG)'
        backendAzureRmStorageAccountName: '$(storageAccount)'
        backendAzureRmContainerName: '$(container)'
        backendAzureRmKey: '$(tfstateKey)'
        workingDirectory: '$(System.DefaultWorkingDirectory)'

    - task: TerraformTaskV4@4
      displayName: 'Terraform Plan'
      inputs:
        provider: 'azurerm'
        command: 'plan'
        environmentServiceNameAzureRM: '$(serviceConnection)'
        workingDirectory: '$(System.DefaultWorkingDirectory)'

- stage: Terraform_Apply
  displayName: 'Execution Stage'
  dependsOn: Terraform_Plan
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  jobs:
  - job: Apply
    steps:
    - task: TerraformTaskV4@4
      displayName: 'Terraform Init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: '$(serviceConnection)'
        backendAzureRmResourceGroupName: '$(storageRG)'
        backendAzureRmStorageAccountName: '$(storageAccount)'
        backendAzureRmContainerName: '$(container)'
        backendAzureRmKey: '$(tfstateKey)'
        workingDirectory: '$(System.DefaultWorkingDirectory)'

    - task: TerraformTaskV4@4
      displayName: 'Terraform Apply'
      inputs:
        provider: 'azurerm'
        command: 'apply'
        environmentServiceNameAzureRM: '$(serviceConnection)'
        workingDirectory: '$(System.DefaultWorkingDirectory)'

- stage: SWA_Deploy
  displayName: 'Deploy Stage'
  dependsOn: Terraform_Apply
  condition: succeeded()
  jobs:
  - job: DeploySWA
    steps:
    - checkout: self
    - task: NodeTool@0
      inputs:
        versionSpec: '20.x'
    - powershell: |
        # تنظيف أي كاش قديم للـ CLI
        npm install -g @azure/static-web-apps-cli@latest
        
        $app_src = "$(System.DefaultWorkingDirectory)\APP"
        $api_src = "$(System.DefaultWorkingDirectory)\api"
        
        Write-Host "Deploying from: $app_src"
        
        # أمر الرفع السادة من غير أي Flags زيادة عشان ما يزعلش
        swa deploy "$app_src" --api-location "$api_src" --env production --deployment-token "$(deployment_token)"
      displayName: 'SWA Deploy (Clean Run)'