# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: 'Default' # اسم الـ Pool اللي فيه الـ Agent بتاعك على الجهاز

variables:
  # تأكد إن الأسامي دي مطابقة للي في الأزور عندك
  serviceConnection: 'Fabrikam-Manual-SP'
  storageRG: 'Terraform-Management-RG'
  storageAccount: 'fabtfstate2026'
  container: 'tfstate'
  tfstateKey: 'prod.terraform.tfstate'

stages:
- stage: Terraform_Plan
  displayName: 'Plan Stage'
  jobs:
  - job: Plan
    steps:
    - task: TerraformTaskV4@4
      displayName: 'Init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: '$(serviceConnection)'
        backendAzureRmResourceGroupName: '$(storageRG)'
        backendAzureRmStorageAccountName: '$(storageAccount)'
        backendAzureRmContainerName: '$(container)'
        backendAzureRmKey: '$(tfstateKey)'

    - task: TerraformTaskV4@4
      displayName: 'Plan'
      inputs:
        provider: 'azurerm'
        command: 'plan'
        environmentServiceArm: 'Fabrikam-Manual-SP'
